// Import full Pico source code todo include only the necessary parts
// Enable .grid class
@import "../node_modules/@picocss/pico/scss/pico.classless";

body {
  margin: 0.5rem;
}

:root {
  --font-fallback: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-family: "IBM Plex Sans", var(--font-fallback);
  --spacing: 0.5rem;
  --theme-text: #127475;
  --grid-spacing-horizontal: 1rem;
  --grid-spacing-vertical: 1rem;
  --block-spacing-horizontal: calc (var(--spacing) * 0.5);
}
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #127475;
  background-color: white;
  
}

a:hover{
  color: #8A2C2C;
}


article {
  background-color: #eae1df;
  margin-bottom: 0.5rem;
  --block-spacing-vertical: calc(var(--spacing) * 1);
  
}

time {
  padding-left: 0.5rem;
}

p {
  color: #127475;
  padding-left: 0.5rem;
}

a {
  color: #8A2C2C;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/ibm-plex-sans-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../public/fonts/ibm-plex-sans-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../../public/fonts/ibm-plex-sans-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../public/fonts/ibm-plex-sans-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../public/fonts/ibm-plex-sans-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../public/fonts/ibm-plex-sans-v14-latin-regular.svg#IBMPlexSans")
      format("svg"); /* Legacy iOS */
}

.grid {
  grid-column-gap: var(--grid-spacing-horizontal);
  grid-row-gap: var(--grid-spacing-vertical);
  display: grid;
  grid-template-columns: 1fr;
  //margin: 0;

  @if map-get($breakpoints, "lg") {
    @media (min-width: map-get($breakpoints, "lg")) {
      grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
      
    }
  }

  & > * {
    min-width: 0; // HACK for childs in overflow
  }
}

h1 {
  --font-size: 2rem;
  --typography-spacing-vertical: 0.5rem;

}

 h2 {
  padding-left: 0.5rem;
 }