---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Category from "../components/Category.astro";
import { loadData } from "../dataloader";

const title = "AudioMoth";
const description = "AudioMoth Sessions im Biotop.";
---

<html lang="de">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <section>
        <h1>{title}</h1>
        <p>
          {description}<br />
          Wir haben mit dem OpenSource AudioLogger <a
            href="https://www.openacousticdevices.info/audiomoth">AudioMoth</a
          > im Frühjahr einen morgen lang Vogelstimmen aufgenommen. <br />
          Die automatiserte Auswertung mit <a href="https://birdnet.cornell.edu"
            >BirdNet AI</a
          > findet ihr hier: <a
            href="https://audiomoth.ivo-bathke.name/sessions/biotop-sielsdorf-2022/index.html"
            target="_blank">24.4.2022 Biotop Sielsdorf</a
          >
        </p>
        <p>
          <a
            href="https://audiomoth.ivo-bathke.name/sessions/biotop-sielsdorf-2022/index.html"
            target="_blank">
          <img src="/assets/audiomoth-sielsdorf.png" alt="Audiomoth Biotop Sielsdorf" style="border: 1px solid var(--primary-focus);">
          </a>
        </p>
      </section>
    </main>
    <Footer />
    <style>

    </style>
  </body>
</html>
