---
interface Observation {
    title: string,
    img: string,
    body: string,
}
export interface Props {
	observations: Observation[];
}

const { observations } = Astro.props as Props;

---

<hr/>
<strong>Neueste Beobachtungen:</strong>

<div class="grid">
{observations.map(({ title, img, body }, index) =>  (
         <div>
         <article>
            <header>
                {title}
            </header>
            <main>
            <img src={img} alt={title} />
            </main>
            <footer>
                {body}
            </footer>
        </article>
        </div>
))}
</div>
<style>
    article {
    }
</style>
