<footer>
  <hr />
  ♥ <a
    href="https://bund-rhein-erft.de/huerth/"
    target="_blank"
    rel="noopener noreferrer">BUND, Ortsgruppe Hürth</a
  >
  <div style="display:inline;float:right;">
    <small
      ><a href="/imprint" class="secondary">Impressum / Datenschutz</a>
    </small><div></div>
  </div>
</footer>
